# 忽略的文件[夹]，不纳入版本控制
# sim_build/
# __pycache__/
# .vscode/
# .idea/
# dut
# ucli.key
# *.log
# results.xml
# *.vcd
# *.fsdb
# *.gtkw
# *.bak
# novas.conf
# *.rc
# verdiLog/
# run.sh
# .nfs*
# *fsdb*
# urgReport
